In [1]:
import pandas as pd
import os

In [2]:
school_data_to_load = os.path.join('Resources', 'schools_complete.csv')

#".read_csv()" allows to convert the csv file into data frame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()
#school_data_df.tail()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [4]:
school_data_df.type.dtype

dtype('O')

In [5]:
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [6]:
student_data_to_load = os.path.join('Resources','clean_students_complete.csv')
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
student_data_df.count()

Unnamed: 0       39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [8]:
student_data_df.count()

Unnamed: 0       39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [9]:
student_data_df.isnull().sum()

Unnamed: 0       0
Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [10]:
student_data_df.notnull().sum()

Unnamed: 0       39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [11]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

student_data_df.head(10)

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,9,Matthew Greene,M,10th,Huang High School,96,84

In [12]:
#checking the result by saving it in new csv file
#student_data_df.to_csv(r'Resources\cleaned_names_TO.csv')

In [13]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [14]:
school_data_complete_df.count()

Unnamed: 0       39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [15]:
school_data_complete_df["student_name"].count()
#each cell for the student is filled so even if we look at school budget in combined data frame
#school_data_complete_df["budget"].count()
#the result will be 39170, because we have 39170 students which attend to school that has a budget
#but if we use unique, the count will be based on schools

39170

In [16]:
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [17]:
school_data_df["school_name"].count()

15

In [18]:
school_count = len(school_data_complete_df["school_name"].unique())
school_count

15

In [19]:
student_count = len(school_data_complete_df["school_name"])
student_count

39170

In [20]:
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [21]:
avg_reading_score = school_data_complete_df["reading_score"].mean()
print(f'Average reading score: {avg_reading_score}')

avg_math_score = school_data_complete_df["math_score"].mean()
print(f'Average math score: {avg_math_score}')

Average reading score: 81.87784018381414
Average math score: 78.98537145774827

In [22]:
#defining variables for passing math and reading, a boolien based on threshold
passing_math = school_data_complete_df[school_data_complete_df["math_score"] > 70]
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] > 70]
passing_math.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [23]:
#using pandas to  get count - a number! and defining the result as variable a number
passing_math_count = passing_math["student_name"].count()
passing_reading_count = passing_reading["student_name"].count()

In [24]:
print(f"students passing math:{passing_math_count}")
print(f"students passing reading: {passing_reading_count}")

students passing math:28356
students passing reading: 32500

In [25]:
percentage_math_pass = (passing_math_count/float(student_count)*100)
percentage_reading_pass = (passing_reading_count/float(student_count)*100)

In [26]:
print(f"percentage passing math:{percentage_math_pass:.2f} %")
print(f"percentage passing reading:{percentage_reading_pass:.2f} %")

percentage passing math:72.39 %
percentage passing reading:82.97 %

In [27]:
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] > 70) & (school_data_complete_df["reading_score"] > 70)]
passing_math_reading.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [28]:
count_of_passing_math_reading = passing_math_reading["student_name"].count()
print(count_of_passing_math_reading)

23816

In [29]:
percentage_of_passing_both = (count_of_passing_math_reading/student_count)*100

In [30]:
print(f"percentage passing both:{percentage_of_passing_both:.2f} %")

percentage passing both:60.80 %

In [31]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

NameError: name 'average_math_score' is not defined