In [10]:
import pandas as pd
import os

In [11]:
school_data_to_load = os.path.join('Resources','schools_complete.csv')
student_data_to_load = os.path.join('Resources','students_complete.csv')
#alternative way
#school_data_to_load = "Resources/schools_complete.csv"
#student_data_to_load = "Resources/students_complete.csv"

#".read_csv()" allows to convert the csv file into data frame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()
#school_data_df.tail()

    School ID            school_name      type  size   budget
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130